body{
    font-family: "Cuprum";
    width: 100%;
    background-image:url("../Back&logo/Backgroundbody.jpg");
    background-size: cover;
}
.sections{
    width :80%;
	margin: auto;
	padding:30px;
}
nav{
    text-align: right;
    padding-right: 50px;
}
nav a {
/*    text-align: right;*/
    padding:10px;
    text-decoration: none;
    font-size: 120%;
     color:ghostwhite;
    background-color:#4B08A1;;
}
nav a img{
    width: 20px;
    padding-right:10px;
/*    vertical-align: baseline;*/
}
header h1{
    font-family: "Bree Serif";
    font-size: 350%;
    color:#4B08A1;
    text-align: right;
    padding-right: 60px;
}
header img {
    float: left;
    width: 30%;
}

br{
    clear:both;
}

.paragraph{
    font-size:100%;
    width:60%;
    display:inline-block;
    background-image:  url("../Back&logo/pp.jpg");
    background-size: cover;
    padding: 20px;
    color:#4B08A1;
}

.image{
    width:30%;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
}

.image img{
    width:70%;
}
.searchnav{
/*    for searh bar*/
}
footer{
	background-image: url("Footer.png");
	background-repeat: no-repeat;
	background-size:cover;
	padding: 80px 30px;
	bottom:0;
}
footer p {
background-image:  url("../Back&logo/pp.jpg");
    background-size: cover;
	color:black;
	font-size:110%;
	font-weight:Bold;
	text-align:center;
	width:20%;
	margin:auto;
	padding:5px;
    text-decoration: none;
	
}