body{
    width: 80%;
    background-image:url("Back&logo/Backgroundbody.jpg");
}
.sections{
    width :80%;
/*	border: 2px solid #663d00;*/
	margin: auto;
	padding:30px;
	margin-top:10px;
}

header{
    float: left;
    
}
.leftsidepara{
    
}
.rightsideimg{
    
}
.leftsideimg{
    
}
.rightsidepara{
    
}
p{
   background-image:  url("Backgroundbody.jpg");
}