@media only screen and (min-width: 250px) {
    /*                                                            250px for mobile phone */
     body{
    font-family: "Cuprum";
    width: 98%;
    background-image:url("../back_logo/Backgroundbody.jpg");
    background-size: cover;
         padding: 2px;
}

.sections{
    width :80%;
	margin: auto;
	padding:30px;
}
nav{
    width: 100;
    text-align: right;
    padding-right: 50px;
}
nav a {
/*    text-align: right;*/
    padding:10px;
    text-decoration: none;
    font-size: 120%;
     color:ghostwhite;
    background-color:#4B08A1;;
}
nav a img{
    width: 20px;
    padding-right:10px;
/*    vertical-align: baseline;*/
}
header h1{
    width: 90%;
    font-family: "Bree Serif";
    font-size: 250%;
    color:#4B08A1;
    text-align: center;
    padding-right: 60px;
    margin: auto;
}
header img {
    float:none;
    width: 90%;
}

br{
    clear:both;
}
table, th, td{
	border: 1px solid #4B08A1;
}
table{

    width: 100%;
    overflow:scroll;
}
/*
.tablecss{
    overflow-x:auto;
        
    }
*/
.paragraph{
        border-radius: 15px;
    font-size:100%;
    width:60%;
    display:inline-block;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    padding: 20px;
    color:#4B08A1;
}

.image{
    width:100%;
    display:inline-block;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
}

.image img{
    width:70%;
}
.searchnav{
/*    for searh bar*/
}
footer{
    align-content: center;
    text-align:center;
    width: 95%;
	background-image:  url("../back_logo/Footer.png");
	background-repeat: no-repeat;
	background-size:cover;
	padding: 1px;
	bottom:0;
}
footer p {
/*background-image:  url("../Back&logo/Footer.png");*/
/*    background-size: cover;*/
	color:black;
	font-size:110%;
	font-weight:Bold;
	text-align:center;
	width:90%;
	margin:auto;
	padding:5px;
    text-decoration: none;
	
}
.block{
	padding-left: 15px;
	padding-right: 15px;
}
.block ul {
    margin: 0;
    padding: 0;
}
.block ul li {
    list-style-type: none;
    display: inline-block;
    background: #4618dd;
    margin: 0;
    padding: 3px 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
	color: #FFFFFF;

}
.block ul li:hover {
    color: #333;
    background: #DDD;
}

.block ul li.shown {
    color: #333;
    background: #DDD;
}       

.block .panel {
    display:none;
    background: #DDD;
    padding: 0px;
    border-radius: 0 0 0px 0px;
}

.block .panel.shown {
    display:block;
}

.slide {
    padding: 10px;
    margin: auto;
    border-radius:50px;
    width: 80%;
/*    height: 90%;*/
/*
        width: 600px;
        height: 400px;
*/
        overflow: hidden;
/*        float: left;*/
        display: none;
        text-align: center;
        align-content: center;
}
#slidemachine {
    border-radius:10px;
    padding: 10px;
    margin: auto;
    width: 100%;
/*    height: 90%;*/
/*
    width: 600px;
   height: 400px;
*/
        overflow: hidden;
/*     margin: 30px auto;*/
        text-align: center;
        align-content: center;
            }


.maindivofhome{
/*
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
*/
    width: 80%;
/*    background-color: aqua;*/
    text-align: center;
    align-content: center;
    padding: 10px;
    vertical-align: bottom;
    margin: auto;
}
.gapbetween2{
/*    background-color: rebeccapurple;*/
    display: inline-block;
    width:10%;
    margin:auto;
}
.box1middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 100%;
/*    background-color: red;*/
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
/*    padding-right: 20px;*/
    border-radius: 15px;
    height: 300px:

}
.box2middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 100%;
/*    background-color: greenyellow;*/
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
/*    padding-left: 20px;*/
    border-radius: 15px;
    height: 300px:
}
h3{
    margin: auto;
    width: 15%;
/*    border-style: dotted;*/
    align-content: center;
    text-align: center;
    display: inline-block;
}
.imagelast2{
/*    border-style: dotted;*/
    margin: auto;
    width: 30px; 
    display: inline-block;
    vertical-align: bottom;
}
.boxtype3{
    border-radius: 15px;
    margin: auto;
    width:100%;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    display: inline-block;
    padding: 5px;
    height:200px;
    overflow:hidden;
}
.gapbetween3{
    width:4.5%;
    display: inline-block;
    margin: auto;
/*    background-color: orangered;*/
}
}


@media only screen and (min-width: 600px) {
/*                                                            600px for ipad */
    body{
    font-family: "Cuprum";
    width: 98%;
    background-image:url("../back_logo/Backgroundbody.jpg");
    background-size: cover;
}
.sections{
    width :80%;
	margin: auto;
	padding:30px;
}
nav{
    text-align: right;
    padding-right: 50px;
}
nav a {
/*    text-align: right;*/
    padding:10px;
    text-decoration: none;
    font-size: 120%;
     color:ghostwhite;
    background-color:#4B08A1;;
}
nav a img{
    width: 20px;
    padding-right:10px;
/*    vertical-align: baseline;*/
}
header h1{
    font-family: "Bree Serif";
    font-size: 350%;
    color:#4B08A1;
    text-align: right;
    padding-right: 60px;
}
header img {
    float: left;
    width: 30%;
}

br{
    clear:both;
}
table, th, td{
	border: 1px solid #4B08A1;
}
table{
	width: 100%;
}
.paragraph{
    border-radius: 15px;
    font-size:100%;
    width:90%;
    display:inline-block;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    padding: 20px;
    color:#4B08A1;
}

.image{
    padding: 10px;
    width:50%;
    display:inline-block;
     align-content: center;
    text-align: center;
    vertical-align: bottom;
}

.image img{
    width:100%;
}
.searchnav{
/*    for searh bar*/
}
footer{
background-image:  url("../back_logo/Footer.png");
    width: 95%;
    background-repeat: no-repeat;
	background-size:cover;
    padding: 10px;
	bottom:0;
}
footer p {
/*background-image:  url("../Back&logo/Footer.png");*/
/*    background-size: cover;*/
	color:black;
	font-size:110%;
	font-weight:Bold;
	text-align:center;
	width:20%;
	margin:auto;
	padding:5px;
    text-decoration: none;
	
}
.block{
	padding-left: 15px;
	padding-right: 15px;
}
.block ul {
    margin: 0;
    padding: 0;
}
.block ul li {
    list-style-type: none;
    display: inline-block;
    background: #4618dd;
    margin: 0;
    padding: 3px 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
	color: #FFFFFF;

}
.block ul li:hover {
    color: #333;
    background: #DDD;
}

.block ul li.shown {
    color: #333;
    background: #DDD;
}       

.block .panel {
    display:none;
    background: #DDD;
    padding: 0px;
    border-radius: 0 0 0px 0px;
}

.block .panel.shown {
    display:block;
}

.slide {
    padding: 10px;
    margin: auto;
    border-radius:50px;
    width: 80%;
/*    height: 90%;*/
/*
        width: 600px;
        height: 400px;
*/
        overflow: hidden;
/*        float: left;*/
        display: none;
        text-align: center;
        align-content: center;
}
#slidemachine {
      border-radius:10px;
    padding: 20px;
    margin: auto;
    width: 70%;
/*    height: 90%;*/
/*
    width: 600px;
   height: 400px;
*/
        overflow: hidden;
/*     margin: 30px auto;*/
        text-align: center;
        align-content: center;
            }


.maindivofhome{
    width: 80%;
    text-align: center;
    align-content: center;
    padding: 10px;
    vertical-align: bottom;
    margin: auto;
}
.gapbetween2{
    display: inline-block;
    width:10%;
    margin:auto;
}
.box1middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 40%;
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
    border-radius: 15px;
    height: 300px:

}
.box2middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 40%;
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
/*    padding-left: 20px;*/
    border-radius: 15px;
    height: 300px:
}
h3{
    margin: auto;
    width: 15%;
/*    border-style: dotted;*/
    align-content: center;
    text-align: center;
    display: inline-block;
}
.imagelast2{
/*    border-style: dotted;*/
    margin: auto;
    width: 30px; 
    display: inline-block;
    vertical-align: bottom;
}
.boxtype3{
    border-radius: 15px;
    margin: auto;
    width:26.6%;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    display: inline-block;
    padding: 5px;
    height:200px;
    overflow:hidden;
}
.gapbetween3{
    width:4.5%;
    display: inline-block;
    margin: auto;
/*    background-color: orangered;*/
}
}


@media only screen and (min-width: 768px) {  
    
/*                                                            768px for desktop computer */
    
body{
    font-family: "Cuprum";
    width: 98%;
    background-image:url("../back_logo/Backgroundbody.jpg");
    background-size: cover;
}
.sections{
    width :80%;
	margin: auto;
	padding:30px;
}
nav{
    text-align: right;
    padding-right: 50px;
}
nav a {
/*    text-align: right;*/
    padding:10px;
    text-decoration: none;
    font-size: 120%;
     color:ghostwhite;
    background-color:#4B08A1;;
}
nav a img{
    width: 20px;
    padding-right:10px;
/*    vertical-align: baseline;*/
}
header h1{
    font-family: "Bree Serif";
    font-size: 350%;
    color:#4B08A1;
    text-align: right;
    padding-right: 60px;
}
header img {
    float: left;
    width: 30%;
}

br{
    clear:both;
}
table, th, td{
	border: 1px solid #4B08A1;
}
table{
	width: 100%;
}
.paragraph{
        border-radius: 15px;
    font-size:100%;
    width:60%;
    display:inline-block;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    padding: 20px;
    color:#4B08A1;
}

.image{
    width:30%;
    display:inline-block;
    text-align: center;
    vertical-align: bottom;
}

.image img{
    width:70%;
}
.searchnav{
/*    for searh bar*/
}
footer{
	background-image:  url("../back_logo/Footer.png");
    width: 100%;
    background-repeat: no-repeat;
	background-size:cover;
    padding: 10px;
	bottom:0;
}
footer p {
/*background-image:  url("../Back&logo/Footer.png");*/
/*    background-size: cover;*/
/*
	color:black;
	font-size:110%;
	font-weight:Bold;
	text-align:center;
	width:20%;
	margin:auto;
	padding:5px;
    text-decoration: none;
*/
	background-color:rgba(255, 245, 230,0.85);
	color:black;
	font-size:110%;
	font-weight:Bold;
	text-align:center;
	width:20%;
	margin:auto;
	padding:5px;
}
.block{
	padding-left: 15px;
	padding-right: 15px;
}
.block ul {
    margin: 0;
    padding: 0;
}
.block ul li {
    list-style-type: none;
    display: inline-block;
    background: #4618dd;
    margin: 0;
    padding: 3px 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
	color: #FFFFFF;

}
.block ul li:hover {
    color: #333;
    background: #DDD;
}

.block ul li.shown {
    color: #333;
    background: #DDD;
}       

.block .panel {
    display:none;
    background: #DDD;
    padding: 0px;
    border-radius: 0 0 0px 0px;
}

.block .panel.shown {
    display:block;
}
    
    .navbutton {
    width: 3%; /* you can use % */
    height: auto;
    padding: 30px;
}

.slide {
    padding: 10px;
    
    margin: 40px;
    border-radius:50px;
    width: 80%;
/*    height: 90%;*/
/*
        width: 600px;
*/
        height: 400px;
        overflow: hidden;
/*        float: left;*/
        display: none;
        text-align: center;
        align-content: center;
}
    #slidenavs {
    margin: auto;
    text-align: center;
    align-content: center;
    }
#slidemachine {
      border-radius:10px;
    padding: 20px;
    margin: auto;
    width: 70%;
/*    height: 90%;*/
/*
    width: 600px;
   height: 400px;
*/
        overflow: hidden;
/*     margin: 30px auto;*/
        text-align: center;
        align-content: center;
            }


.maindivofhome{
/*
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
*/
    width: 80%;
/*    background-color: aqua;*/
    text-align: center;
    align-content: center;
    padding: 10px;
    vertical-align: bottom;
    margin: auto;
}
.gapbetween2{
/*    background-color: rebeccapurple;*/
    display: inline-block;
    width:10%;
    margin:auto;
}
.box1middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 40%;
/*    background-color: red;*/
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
/*    padding-right: 20px;*/
    border-radius: 15px;
    height: 300px:

}
.box2middle{
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    margin: auto;
    width: 40%;
/*    background-color: greenyellow;*/
    display: inline-block;
    text-align: center;
    align-content: center;
    padding: 5px;
/*    padding-left: 20px;*/
    border-radius: 15px;
    height: 300px:
}
h3{
    margin: auto;
    width: 15%;
/*    border-style: dotted;*/
    align-content: center;
    text-align: center;
    display: inline-block;
}
.imagelast2{
/*    border-style: dotted;*/
    margin: auto;
    width: 30px; 
    display: inline-block;
    vertical-align: bottom;
}
.boxtype3{
    border-radius: 15px;
    margin: auto;
    width:26.6%;
    background-image:  url("../back_logo/pp.jpg");
    background-size: cover;
    display: inline-block;
    padding: 5px;
    height:200px;
    overflow:hidden;
}
.gapbetween3{
    width:4.5%;
    display: inline-block;
    margin: auto;
/*    background-color: orangered;*/
}
}